[user]
	name = Tânio Scherer
	email = tanioms3@gmail.com
[core]
	excludesfile = /home/tanio/.gitignore_global
	editor = nano
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	d = diff
	dh = diff HEAD
	b = branch
	brm = branch -d
	ck = checkout
	ckb = checkout -b
	cm = commit
	l = log --oneline -5
	s = status
	su = status --untracked-files=no
